<div class="container mt-3">
    <h3>All Employee</h3>
    <table class="table table-bordered table-hover mt-3" *ngIf="employeesList.length > 0">
      <thead class="table-light">
        <tr>
          <th>Employee Name</th>
          <th>Email</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employees of employeesList">
          <td>{{ employees.name }}</td>
          <td>{{ employees.email }}</td>
          <td>{{ employees.department }}</td>
          
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="employeesList.length === 0" class="alert alert-info">
      Employee not records found.
    </div>
  </div>
  