<div class="d-flex">
    <!-- Sidebar -->
    <div class="d-flex flex-column p-1 bg-light flex-shrink-0" style="width: 175px; height: 100vh; position: fixed;">
      <h4 class="text-center">Dashboard</h4>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto" id="sidebar-nav">
        <li class="nav-item">
          <a routerLink="/dashboard/admin/employee-report" routerLinkActive="bg-dark text-white" class="nav-link text-dark">
            <i class="bi bi-house-door"></i> Employee Reports
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/admin/show-all-employee" routerLinkActive="bg-dark text-white" class="nav-link text-dark">
            <i class="bi bi-people"></i> All Employees
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/admin/add-employee" routerLinkActive="bg-dark text-white" class="nav-link text-dark">
            <i class="bi bi-person-plus"></i> Add Employee
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dashboard/admin/generate-qr" routerLinkActive="bg-dark text-white" class="nav-link text-dark">
            <i class="bi bi-qr-code"></i> Generate QR
          </a>
        </li>
        <hr>
      <div class="text-center">
        <a routerLink="/logout" class="btn btn-danger w-100">Logout</a>
      </div>
      </ul>
      
    </div>
  
    <!-- Main Content -->
    <div class="flex-grow-1" style="margin-left: 175px; padding: 20px;">
      <router-outlet></router-outlet>
    </div>
  </div>
  